<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bp.business.dao.MerchantDAO">
    <select id="getMerchantList" resultType="com.bp.business.po.MerchantPO">
       select id as id,
               name as name,
               address as address
       from merchant
    </select>
    <insert id="insert" parameterType="com.bp.business.po.MerchantPO">
        insert into merchant(id,name,address)
        VALUES (#{id},#{name},#{address})
    </insert>
</mapper>